<div class="container mt-5">
  <div class="row">
    <div class="col-8">
      <h3>Emlak Tipleri</h3>
      <button class="btn btn-outline-primary" (click)="Ekle(modalEkleDuzenle)"
        [disabled]="servis.aktifUye.admin==0">Tip Ekle</button>
      <table class="table table-hover mt-3">
        <thead>
          <th>Id</th>
          <th>Tip Adı</th>
          <th>Dersler</th>
          <th>Düzenle</th>
          <th>Sil</th>
        </thead>
        <tbody>
          <tr *ngFor="let tip of tipler">
            <td>{{tip.id}}</td>
            <td>{{tip.adi}}</td>
            <td><button class=" btn btn-outline-warning" (click)="Duzenle(tip,modalEkleDuzenle)"
                [disabled]="servis.aktifUye.admin==0">Düzenle</button></td>
            <td><button class="btn btn-outline-danger" (click)="Sil(tip,modalSil)"
                [disabled]="servis.aktifUye.admin==0">Sil</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" #modalEkleDuzenle>
  <div class="modal-dialog">
    <form [formGroup]="frm" (ngSubmit)="TipEkleDuzenle()">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">{{modalBaslik}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label>Tip Adı</label>
            <input type="text" class="form-control" formControlName="adi">
            <input type="hidden" class="form-control" formControlName="id">

          </div>

        </div>
        <div class="modal-footer">

          <input type="submit" class="btn btn-outline-primary" value="Kaydet">
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Kapat</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal" tabindex="-1" #modalSil>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title">{{modalBaslik}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6 *ngIf="secTip">{{secTip.adi}} adlı Emlak Tipi Silinecektir Onaylıyor musunuz?</h6>
      </div>
      <div class="modal-footer">

        <button class="btn btn-outline-danger" *ngIf="secTip" (click)="TipSil()">Sil</button>
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Kapat</button>
      </div>
    </div>

  </div>
</div>
