<div class="container mt-5">
  <div class="row">
    <div class="col-8">
      <h3>Evler</h3>

      <select class="form-control" [(ngModel)]="tipId" (ngModelChange)="TipSec($event)">
        <option [value]="tip.id" *ngFor="let tip of tipler">{{tip.adi}}</option>
      </select>

      <button class="btn btn-outline-primary mt-3" (click)="Ekle(modalEkleDuzenle)"
        [disabled]="servis.aktifUye.admin==0">Ev Ekle</button>
      <p *ngIf="tipId!=0">
        Seçili Tip : <b>{{secTip.adi}}</b>
      </p>
      <table class="table table-hover mt-3">
        <thead>
          <th>Id</th>
          <th>Ev Fiyatı</th>
          <th>Mahalle</th>
          <th>Düzenle</th>
          <th>Sil</th>
        </thead>
        <tbody>
          <tr *ngFor="let ev of evler">
            <td>{{ev.id}}</td>
            <td>{{ev.fiyat}}</td>
            <td>{{ev.mahalle}}</td>
            <td><button class="btn btn-outline-warning" (click)="Duzenle(ev,modalEkleDuzenle)"
                [disabled]="servis.aktifUye.admin==0">Düzenle</button></td>
            <td><button class="btn btn-outline-danger" (click)="Sil(ev,modalSil)"
                [disabled]="servis.aktifUye.admin==0">Sil</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" #modalEkleDuzenle>
  <div class="modal-dialog">
    <form [formGroup]="frm" (ngSubmit)="EvEkleDuzenle()">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">{{modalBaslik}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label>Ev fiyatı</label>
            <input type="text" class="form-control" formControlName="fiyat">
            <label>Emlak Tipi</label>
            <input type="text" class="form-control" formControlName="tipi">
            <label>Ev Katı</label>
            <input type="text" class="form-control" formControlName="kat">
            <label>Ev Boyutu</label>
            <input type="text" class="form-control" formControlName="boyut">
            <label>Ev Konumu</label>
            <input type="text" class="form-control" formControlName="mahalle">
            <label>Oda Sayısı</label>
            <input type="text" class="form-control" formControlName="odasayi">
          </div>

        </div>
        <div class="modal-footer">

          <input type="submit" class="btn btn-outline-primary" value="Kaydet">
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Kapat</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal" tabindex="-1" #modalSil>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title">{{modalBaslik}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6 *ngIf="secEv">{{secEv.fiyat}} adlı Ev Silinecektir Onaylıyor musunuz?</h6>
      </div>
      <div class="modal-footer">

        <button class="btn btn-outline-danger" *ngIf="secEv" (click)="EvSil()">Sil</button>
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Kapat</button>
      </div>
    </div>

  </div>
</div>