
<div class="p-3 mb-2 bg-dark text-white" style=background-image:var(--bs-gradient);>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8">
        <div class="alert alert-info" *ngIf="!servis.OturumKontrol()">Lütfen oturum Açınız</div>
      </div>
    </div><br>

</div>

<div class="row">
  <div class="col-6 py-3">
    <div class="card bg-danger" style="width: 900px;">
      <img src="https://thumbs.dreamstime.com/b/apartment-building-19532951.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Alice Liddel</h5>
          <p class="card-text">Alice is a freelance web designer and developer based in London. She is specialized in HTML5, CSS3, JavaScript, Bootstrap, etc.</p>
          <a href="#" class="btn btn-primary">View Profile</a>
        </div>
    </div>
  </div>

  <div class="col-6 py-3">
    <div class="card bg-danger" style="width: 900px;">
      <img src="https://thumbs.dreamstime.com/b/apartment-buildings-modern-richmond-british-columbia-canada-71886121.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Alice Liddel</h5>
          <p class="card-text">Alice is a freelance web designer and developer based in London. She is specialized in HTML5, CSS3, JavaScript, Bootstrap, etc.</p>
          <a href="#" class="btn btn-primary">View Profile</a>
        </div>
    </div>
  </div>

  <div class="col-6 py-3" >
    <div class="card bg-danger" style="width: 900px;">
      <img src="https://thumbs.dreamstime.com/b/modern-real-estate-house-building-city-construction-concept-evening-outdoor-urban-view-homes-40083842.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Alice Liddel</h5>
          <p class="card-text">Alice is a freelance web designer and developer based in London. She is specialized in HTML5, CSS3, JavaScript, Bootstrap, etc.</p>
          <a href="#" class="btn btn-primary">View Profile</a>
        </div>
    </div>
  </div>

  <div class="col-6 py-3" >
    <div class="card bg-danger" style="width: 900px;">
      <img src="https://thumbs.dreamstime.com/b/attractive-apartment-buildings-colorful-townhomes-low-rise-41134370.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Alice Liddel</h5>
          <p class="card-text">Alice is a freelance web designer and developer based in London. She is specialized in HTML5, CSS3, JavaScript, Bootstrap, etc.</p>
          <a href="#" class="btn btn-primary">View Profile</a>
        </div>
    </div>
  </div>

  <div class="col-6 py-3" >
    <div class="card bg-danger" style="width: 900px;">
      <img src="https://thumbs.dreamstime.com/b/apartment-buildings-modern-richmond-british-columbia-canada-34129420.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Alice Liddel</h5>
          <p class="card-text">Alice is a freelance web designer and developer based in London. She is specialized in HTML5, CSS3, JavaScript, Bootstrap, etc.</p>
          <a href="#" class="btn btn-primary">View Profile</a>
        </div>
    </div>
  </div>

  <div class="col-6 py-3" >
    <div class="card bg-danger" style="width: 900px;">
      <img src="https://thumbs.dreamstime.com/b/new-apartment-complex-suburban-neighborhood-58227427.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Alice Liddel</h5>
          <p class="card-text">Alice is a freelance web designer and developer based in London. She is specialized in HTML5, CSS3, JavaScript, Bootstrap, etc.</p>
          <a href="#" class="btn btn-primary">View Profile</a>
        </div>
    </div>
  </div>

</div>


<!-- <div class="container mt-5">
  <div class="row">
    <div class="col-4">
      <button class="btn btn-primary" (click)="Goster()">Göster</button>
      <button class="btn btn-danger ms-2" (click)="Gizle()">Gizle</button>
      <button class="btn btn-warning ms-2" (click)="GosterGizle()">Göster - Gizle</button>
      <div class="alert alert-info mt-3" *ngIf="islem">
        Akdeniz
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="container mt-5">
  <div class="col-4">
    <ul class="list-group">
      <h3>Seçili Gün: <b>{{secGun}}</b> </h3>
      <li class="list-group-item" *ngFor="let gun of gunler" (click)="GunBelirle(gun)" style="cursor: pointer;" [ngClass]="{'active' : secGun==gun}">{{gun}}</li>
    </ul>
  </div>
</div> -->
<router-outlet></router-outlet>