<div class="p-3 mb-2 bg-dark text-white" style=background-image:var(--bs-gradient);><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


</div>








<!-- <div class="container mt-5">
  <div class="row">
    <div class="col-4">
      <button class="btn btn-primary" (click)="Goster()">Göster</button>
      <button class="btn btn-danger ms-2" (click)="Gizle()">Gizle</button>
      <button class="btn btn-warning ms-2" (click)="GosterGizle()">Göster - Gizle</button>
      <div class="alert alert-info mt-3" *ngIf="islem">
        Akdeniz
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="container mt-5">
  <div class="col-4">
    <ul class="list-group">
      <h3>Seçili Gün: <b>{{secGun}}</b> </h3>
      <li class="list-group-item" *ngFor="let gun of gunler" (click)="GunBelirle(gun)" style="cursor: pointer;" [ngClass]="{'active' : secGun==gun}">{{gun}}</li>
    </ul>
  </div>
</div> -->